<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>List A New Puppy</title>
 </head>
 <body>
   <form method="POST" action="/">

    <label for="name">Puppy Name:</label>
    <input id="name" type="text" name="name">

    <br/>

    <label for="breed">Puppy Breed:</label>
    <input id="breed" type="text" name="breed">

    <br

    <label for="age">Puppy Age:</label>
    <input id="age" type="text" name="age">

    <br/>

    <input id="submit" type="submit">
  </form>

 </body>
</html>
